// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html {
	height: 100%;
}

body {
	height: 100%;
}

.border {
	border-style: solid;
	border-color: black;
	border-width: 10px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
	width: 90%;
	padding: 10%;
	margin-top: 5%;
  overflow: scroll;
}

.button {
	background-color: white;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:10px 20px;
	margin: 20px 20px;
	text-decoration:none;
	font-family: 'Didact Gothic', sans-serif;
}
.button:active {
	position:relative;
	top:1px;
}

.button:hover {
	background-color: black;
	color: white;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

p, ol, ul, td {
  font-family: lato, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1{
	font-family: lato, sans-serif;
}
a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

p{
	text-align: center;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.col-lg-12{
	

}
/*tbody{
	margin-left: 30%;
}*/

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

img {
  margin: 10px;
}

#logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 7em; 
  text-align: center;
  margin: 0 auto;

}

.p {
  color: red;
}

.p:hover {
  color:red;
}
