<html>
<head>
	<title> Kritik </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="border">	
</header>
<h1>KRITIK<a class="p">.</a></h1>
<header>

<form action="/login">

		<h2> PLEASE SIGN IN </h2>

	<fieldset>


		<p><input type="text" name="user_name" placeholder="Enter your username"></p>
	
		<p><input type="password" name="password" placeholder="Enter your password"></p>

		<p><input class="button" type="submit" value="Log in"></p>

	</fieldset>

</form>



</div>

</body>
</html>