<html>
<head>
	<title> Kritik </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="border">	
<header>
<h1>KRITIK<a class="p">.</a></h1>
</header>

<h2 class="bye"> YOU HAVE SUCCESFULLY LOGGED OUT </h2>








</div>

</body>
</html>