<% if user_signed_in? %>
 <button class="button"><%= link_to 'Edit account', edit_user_registration_path %></button>
 <button class="button"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></button>
<% else %>
 <button class="button"><%= link_to 'Sign in', new_user_session_path %></button>
 <button class="button"><%= link_to 'Sign up', new_user_registration_path %></button>
<% end %>
